# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets
app/config/secret_keys.py
templates/raspberryPi_setup.txt
app/config/google_client_secret.json

# Log and temporary files
*.log
*.tmp

# IDEs
.vscode/
.idea/
*.iml
*.sublime-workspace
.atom/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
