# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets
app/secret_keys.py

# Log and temporary files
*.log
*.tmp

# IDEs
.vscode/
.idea/
*.iml
*.sublime-workspace
.atom/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
